<extend name="Public/base"/>

<block name="body">
    <div class="main-title cf">
        <h2>{$meta_title}</h2>
    </div>
    <div class="tab-wrap">
        <ul class="tab-nav nav">
            <li data-tab="tab1" class="current"><a href="javascript:void(0);">基 本</a></li>
            <li data-tab="tab2"><a href="javascript:void(0);">详 细</a></li>
            <li data-tab="tab3"><a href="javascript:void(0);">资 源</a></li>
        </ul>
        <div class="tab-content">
            <form action="{:U()}" method="post" class="form-horizontal">
                <!-- 基本 -->
                <div id="tab1" class="tab-pane in tab1">
                <div class="form-item">
                    <label class="item-label">电影名称<span class="check-tips">（电影名称，别名，分集）</span></label>

                    <div class="controls">
                        <input type="text" class="text input-large" name="mname" value="{$info.mname|default=''}">
                    </div>
                </div>

                <div class="form-item">
                    <label class="item-label">上映状态<span class="check-tips"></span></label>

                    <div class="controls">
                        <select name="pstate">
                            <volist name="Think.config.MOVIE_PSTATE_LIST" id="type">
                                <option value="{$key}">{$type}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">评分<span class="check-tips">（电影评分，1-10之间的浮点数）</span></label>

                    <div class="controls">
                        <input type="text" class="text input-large" name="ratingstar" value="{$info.ratingstar|default=''}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">上映日期<span class="check-tips">（电影首映时间，非活动或电影放映时间）</span></label>

                    <div class="controls">
                        <input type="text" class="text time" name="publishdate" value="{$info.publishdate}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">片长<span class="check-tips">（电影片长，单位分钟）</span></label>

                    <div class="controls">
                        <input type="text" class="text input-large" name="duration" value="{$info.duration|default='100'}">
                    </div>
                </div>



            </div>
                <!-- 详细 -->
                <div id="tab2" class="tab-pane in tab2">
                    <div class="form-item">
                        <label class="item-label">电影类型<span class="check-tips">（剧情、爱情、恐怖）</span></label>

                        <div class="controls">
                            <input type="text" class="text input-large" id="mtype" name="mtype" value="{$info.mtype|default=''}">
                            <a class="sch-btn" href="javascript:showChooseDialog('mtype');"><i class="btn-search"></i></a>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">技术类型<span class="check-tips">（2D、3D、IMAX）</span></label>

                        <div class="controls">
                            <input type="text" class="text input-large" id="techtype" name="techtype" value="{$info.techtype|default=''}">
                            <a class="sch-btn" href="javascript:showChooseDialog('techtype');"><i class="btn-search"></i></a>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">导演<span class="check-tips"></span></label>

                        <div class="controls">
                            <input type="text" class="text input-large" id="director" name="director" value="{$info.director|default=''}">
                            <a class="sch-btn" href="javascript:showChooseDialog('director');"><i class="btn-search"></i></a>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">主演<span class="check-tips"></span></label>

                        <div class="controls">
                            <input type="text" class="text input-large" id="actor" name="actor" value="{$info.actor|default=''}">
                            <a class="sch-btn" href="javascript:showChooseDialog('actor');"><i class="btn-search"></i></a>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">地区<span class="check-tips"></span></label>

                        <div class="controls">
                            <input type="text" class="text input-large" id="area" name="area" value="{$info.area|default=''}">
                            <a class="sch-btn" href="javascript:showChooseDialog('area');"><i class="btn-search"></i></a>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">电影简介<span class="check-tips">（电影简介，只支持文字）</span></label>

                        <div class="controls">
                            <label class="textarea input-large">
                                <textarea name="synopsis">{$info.synopsis}</textarea>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- 资源 -->
                <div id="tab3" class="tab-pane in tab3">
                    <div class="form-item">
                        <label class="item-label">海报<span class="check-tips">（电影海报）</span></label>

                        <div class="controls">
                            <input type="text" class="text input-large" name="poster" id="poster" value="{$info.poster|default=''}">
                            <input type="file" name="file" id="upload-file-poster">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">宣传片<span class="check-tips">（电影宣传片、预告片）</span></label>

                        <div class="controls">
                            <input type="text" class="text input-large" name="promo" id="promo" value="{$info.promo|default=''}">
                            <input type="file" name="file" id="upload-file-promo">
                        </div>
                    </div>
                </div>

                <div class="form-item" style="margin-top: 20px">
                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <button class="btn submit-btn ajax-post" id="submit1" type="submit"
                            target-form="form-horizontal">确 定
                    </button>
                    <button class="btn btn-return" onclick="javascript:location.href='{:U('index')}';return false;">返 回</button>
                </div>
            </form>
        </div>
    </div>

    <!--选择基础信息弹出层-->
    <div id="divChooseBasic" class="easyui-dialog" style="width:280px;height:450px;padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <iframe scrolling="no" id='IframeChoose' frameborder="0" src="" style="width:100%;height:100%;padding:0"></iframe>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
        ';
    </php>

    <link href="__STATIC__/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="__STATIC__/EasyUI/themes/icon.css" rel="stylesheet" />

    <script type="text/javascript" src="__STATIC__/EasyUI/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__STATIC__/EasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/EasyUI/locale/easyui-lang-zh_CN.js"></script>

    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"
            charset="UTF-8"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        Think.setValue("pstate", {$info.pstate|default=0});



        $(function () {

            $('.time').datetimepicker({
                format: 'yyyy-mm-dd',
                language: "zh-CN",
                minView: 2,
                autoclose: true
            });

           showTab();
        });

        (function($) {
            //上传文件
            /* 初始化上传插件 */
            $("#upload-file-poster").uploadify({
                "height": 30,
                "swf": "__STATIC__/uploadify/uploadify.swf",
                "fileObjName": "qiniu_file",
                "buttonText": "上传文件",
                "uploader": "{:U('qiniu/uploadOne',array('session_id'=>session_id(),'ajax'=>1))}",
                "width": 120,
                'removeTimeout': 1,
                'onInit': init_poster,
                'multi': false,
                "onUploadSuccess": uploadSuccess_poster,
                'onFallback': function () {
                    alert('未检测到兼容版本的Flash.');
                }
            });
            function init_poster() {
                $('#upload-file-poster, #upload-file-queue').css('display', 'inline-block');
            }

            /* 文件上传成功回调函数 */
            function uploadSuccess_poster(file, data) {
                console.log(data);
                var data = $.parseJSON(data);
                if (data.status) {
                    updateAlert('上传成功', 'alert-success');
                    $('#poster').val(data.downLink);
                } else {
                    console.log(data.data);
                    updateAlert('上传失败');
                }
            }

            /* 初始化上传插件 */
            $("#upload-file-promo").uploadify({
                "height": 30,
                "swf": "__STATIC__/uploadify/uploadify.swf",
                "fileObjName": "qiniu_file",
                "buttonText": "上传文件",
                "uploader": "{:U('qiniu/uploadOne',array('session_id'=>session_id(),'ajax'=>1))}",
                "width": 120,
                'removeTimeout': 1,
                'onInit': init_promo,
                'multi': false,
                "onUploadSuccess": uploadSuccess_promo,
                'onFallback': function () {
                    alert('未检测到兼容版本的Flash.');
                }
            });
            function init_promo() {
                $('#upload-file-promo, #upload-file-queue').css('display', 'inline-block');
            }

            /* 文件上传成功回调函数 */
            function uploadSuccess_promo(file, data) {
                console.log(data);
                var data = $.parseJSON(data);
                if (data.status) {
                    updateAlert('上传成功', 'alert-success');
                    $('#promo').val(data.downLink);
                } else {
                    console.log(data.data);
                    updateAlert('上传失败');
                }
            }
        })(jQuery);

        //显示选择基础信息对话框
        function showChooseDialog(type) {
            $("#IframeChoose")[0].src = '?s=/Basic/choose/type/' + type + '.html';
            $("#divChooseBasic").dialog('open').dialog('setTitle', '请选择');
        }

        function setBasicValue(type, val) {
            $('#' + type).val(val);
        }
    </script>
</block>