.nopadding {
	padding: 0;
}
.nomargin {
	padding: 0;
}
.padding-5 {
	padding: 5px;
}
.padding-10 {
	padding: 10px;
}
.margin-5 {
	margin: 5px;
}
.margin-10 {
	margin: 10px;
}
.hidden {
	display: none !important;
}
.white {
	background: white;
}
.black {
	background: black;
}
.content-div {
	background: #ffffff;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}
.fiexd-bottom {
	position: fixed;
	height: 45px;
	bottom: -10px;
	width: 100%;
	background-color: #2C537F;
	border-color: #2C537F;
	padding: 0px;
	border-radius: 0px;
	z-index: 9999;
}
.fiexd-top {
	position: fixed;
	height: 40px;
	top: 44px;
	width: 100%;
	background-color: #90BFE0;
	border-color: #2C537F;
	padding: 0px;
	border-radius: 0px;
	z-index: 9999;
}
.fs0-8 {
	font-size: 0.8rem;
}
.fs1 {
	font-size: 1rem;
}
.fs1-2 {
	font-size: 1.2rem;
}
.fs1-5 {
	font-size: 1.5rem;
}
/*滚动条样式 和 返回键*/

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
	color: #929292 !important;
}
.mui-segmented-control .mui-control-item {
	color: #929292;
	line-height: 36px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-top: 0;
}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
	height: 4px;
	background-color: #E9511D !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #E9511D !important;
}
.mui-popover {
	top: 50% !important;
	margin-top: -50% !important;
	position: fixed !important;
}
.mui-title {
	color: #929292 !important;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	/*background-color: #efeff4;*/
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.webkit-blur-10{
	-webkit-filter: blur(1px);
	filter: blur(1px);
	
}
.width-auto {
	width: auto !important;
}
.height-auto {
	height: auto !important;
}
.color-primary {
	color: #E9511D;
}
.no-radius {
	border-radius: 0 !important;
}
.no-border {
	border: none !important;
}
/*.mui-icon-left-nav {
	width: 50px !important;
	height: 44px !important;
	background-repeat: no-repeat !important;
	background-size: auto 50% !important;
	background-position: 10px 11px !important;
	background: url(../images/app/icon_back.png);
	color: transparent !important;
}*/